@font-face {
    font-family: "balqis";
    src: url("../fonts/balqis.woff2") format("woff2"), url("../fonts/balqis.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "RobotoCondensed-Light";
    font-size: 18px;
    line-height: 1.16;
    color: #000;
}
.wrapper {
    // width: 1920px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
}
.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 467px;
    }
    @media (max-width: 480px) {
        max-width: 400px;
    }
    @media (max-width: 350px) {
        max-width: 300px;
    }
}

.page-section {
    // для определения расстояний между одинаковыми секциями
    margin: 200px auto;//auto секция центрируется
    max-width: 1920px;// для большой ширины экрана слайдер и текст не разьедутся
}
//одинаковые заголовки на странице
.title-text {
    display: inline-block;
    &__title {
        font-family: "balqis";
        font-size: 96px;
        line-height: 128px;
        color: #e2ab3f;
    }

    &__subtittle {
        font-family: "RobotoCondensed-LightItalic";
        font-size: 24px;
        line-height: 28px;
        margin-top: -25px;
        margin-left: 180px;
        margin-bottom: 100px;
    }
}
//====SECTION==HEADER=========
.header {
    position: relative;
    &__inner {
        position: absolute;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 350px) {
            top: 50px;
        }
    }
    &__img {
        // min-height: 1080px;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__body {
    }

    &__title {
        font-family: "balqis";
        font-size: 250px;
        line-height: 1;
        text-align: center;
        @media (max-width: 1280px) {
            font-size: 200px;
        }
        @media (max-width: 992px) {
            font-size: 150px;
        }
        @media (max-width: 767px) {
            font-size: 100px;
        }
        @media (max-width: 480px) {
            font-size: 80px;
        }
        @media (max-width: 350px) {
            font-size: 64px;
        }
    }

    &__text {
        font-family: "RobotoCondensed-LightItalic";
        font-size: 56px;
        line-height: 1.17;
        text-align: end;
        margin-top: -20px;
        padding-right: 10%;
        @media (max-width: 992px) {
            font-size: 34px;
            margin-top: -15px;
            padding-right: 8%;
        }
        @media (max-width: 767px) {
            font-size: 24px;
            padding-right: 7%;
        }
        @media (max-width: 480px) {
            font-size: 18px;
            margin-top: -10px;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 152px;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (max-width: 350px) {
            margin-bottom: 100px;
        }
    }
}

.menu {
    &__list {
        display: flex;
        @media (max-width: 767px) {
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    &__list > * + * {
        margin-left: 52px;
        @media (max-width: 350px) {
            margin-left: 40px;
        }
    }

    &__list-item {
    }

    &__list-link {
        font-family: "RobotoCondensed-Regular";
        font-size: 24px;
        line-height: 1.16;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}
.header-phone {
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    line-height: 1.16;
    &::before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        width: 30px;
        height: 30px;
        background-image: url("../image/icons/icons-phone.svg");
        background-repeat: no-repeat;
        background-size: initial;
        @media (max-width: 350px) {
            vertical-align: -10px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
    }
    @media (max-width: 350px) {
        font-size: 18px;
    }
}
//====SECTION==ABOUT=========
.about {
    &__inner {
        position: relative; //для позиционирования about__container
    }

    &__content {
    }

    &__container {
        //повторяем все свойства основного контейнера
        width: 1230px;
        padding: 0 15px;
        margin: 0 auto;
        position: absolute; //позиционирование внутри контейнера.так как у него есть ширина, 0 значение уствнавливает контент внутри контейнера не выходя за края
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__body {
        width: 50%; //занимает половину контейнера
        margin-left: auto; //располагается в правой части контейнера
        padding-left: 55px;
        display: flex;
        flex-direction: column;
       justify-content: space-around;
       height: 100%;//контент изначально занимает не весь контейнер по высоте,растягиваем его на всю высоту
    }

    &__text {
        font-family: "RobotoCondensed-Light";
        font-size: 18px;
        line-height: 21px;
    }

    &__list {
    }
}
.bold {
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    line-height: 21px;
}
//слайдер
.about__slider {
    width: 50%; //чтоб слайдер занимал половину ширины страницы
    &__item {
    }
}
//классы слайдера по умолчанию
.slick-btn {
    position: absolute; //reletive уже прописан слайдеру по умолчанию
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: transparent; //делает фон кнопки прозрачным( по умолчанию серый)
}

.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
