@font-face {
  font-family: "balqis";
  src: url("../fonts/balqis.woff2") format("woff2"), url("../fonts/balqis.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 1.16;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 467px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 340px;
  }
}

@media (max-width: 350px) {
  .container {
    max-width: 300px;
  }
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

@media (max-width: 1280px) {
  .page-section {
    margin: 100px auto;
  }
}

@media (max-width: 767px) {
  .page-section {
    margin: 50px auto;
  }
}

.title-text {
  display: inline-block;
}

.title-text__title {
  font-family: "balqis";
  font-size: 96px;
  line-height: 1.33;
  color: #e2ab3f;
}

@media (max-width: 767px) {
  .title-text__title {
    font-size: 80px;
  }
}

@media (max-width: 320px) {
  .title-text__title {
    font-size: 64px;
  }
}

.title-text__subtittle {
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .title-text__subtittle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .title-text__subtittle {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.header {
  position: relative;
}

.header__inner {
  position: absolute;
  top: 72px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 350px) {
  .header__inner {
    top: 50px;
  }
}

.header__img {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  font-family: "balqis";
  font-size: 250px;
  line-height: 1;
  text-align: center;
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 200px;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 150px;
  }
}

@media (max-width: 767px) {
  .header__title {
    font-size: 100px;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 64px;
  }
}

.header__text {
  font-family: "RobotoCondensed-LightItalic";
  font-size: 56px;
  line-height: 1.17;
  text-align: end;
  margin-top: -20px;
  padding-right: 10%;
}

@media (max-width: 992px) {
  .header__text {
    font-size: 34px;
    margin-top: -15px;
    padding-right: 8%;
  }
}

@media (max-width: 767px) {
  .header__text {
    font-size: 24px;
    padding-right: 7%;
  }
}

@media (max-width: 480px) {
  .header__text {
    font-size: 18px;
    margin-top: -10px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 152px;
}

@media (max-width: 767px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 350px) {
  .header__menu {
    margin-bottom: 100px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.menu__list > * + * {
  margin-left: 52px;
}

@media (max-width: 350px) {
  .menu__list > * + * {
    margin-left: 40px;
  }
}

.menu__list-link {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 1.16;
}

.menu__list-link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .menu__list-link {
    font-size: 18px;
  }
}

.header-phone {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 1.16;
}

.header-phone::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  background-image: url("../image/icons/icons-phone.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

@media (max-width: 350px) {
  .header-phone::before {
    vertical-align: -10px;
  }
}

@media (max-width: 767px) {
  .header-phone {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .header-phone {
    font-size: 18px;
  }
}

.about__inner {
  position: relative;
}

@media (max-width: 1280px) {
  .about__inner {
    position: unset;
  }
}

.about__container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1280px) {
  .about__container {
    width: 970px;
    position: unset;
  }
}

@media (max-width: 992px) {
  .about__container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .about__container {
    width: 467px;
  }
}

@media (max-width: 480px) {
  .about__container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .about__container {
    width: 300px;
  }
}

.about__body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

@media (max-width: 1280px) {
  .about__body {
    width: 100%;
    padding: 20px 0;
  }
}

.about__text {
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 1.16;
}

@media (max-width: 1280px) {
  .about__text {
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .about__text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about__list {
    font-size: 14px;
  }
}

.about__subtittle-ident {
  margin-top: -25px;
  margin-left: 180px;
}

@media (max-width: 767px) {
  .about__subtittle-ident {
    margin-left: 150px;
  }
}

@media (max-width: 320px) {
  .about__subtittle-ident {
    margin-left: 100px;
    text-align: end;
    margin-top: -20px;
  }
}

.bold {
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
  line-height: 1.16;
}

.about-slider {
  width: 50%;
}

@media (max-width: 1280px) {
  .about-slider {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

.about-slider__item img {
  max-width: 100%;
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.route__inner {
  position: relative;
}

@media (max-width: 1280px) {
  .route__inner {
    position: unset;
  }
}

.route__content {
  width: 50%;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .route__content {
    width: 100%;
    margin: 0 auto;
  }
}

.route__container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1280px) {
  .route__container {
    width: 970px;
    position: unset;
  }
}

@media (max-width: 992px) {
  .route__container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .route__container {
    width: 467px;
  }
}

@media (max-width: 480px) {
  .route__container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .route__container {
    width: 300px;
  }
}

.route__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 1095px;
  height: 100%;
}

.route__text {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .route__text {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .route__list {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .route__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.route__item {
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .route__item {
    width: 50%;
  }
}

.route__btn {
  font-family: "RobotoCondensed-Light";
  font-size: 24px;
  line-height: 1.16;
  background: #ffffff;
  border: 1px solid #e2ab3f;
  padding: 10px 53px;
  max-width: 280px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.route__btn:hover {
  background: #e2ab3f;
}

@media (max-width: 1280px) {
  .route__btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .route__btn {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .route__btn {
    padding: 10px 40px;
  }
}

.route__subtittle-ident {
  margin-top: -25px;
  margin-left: 245px;
}

@media (max-width: 767px) {
  .route__subtittle-ident {
    margin-left: 205px;
  }
}

@media (max-width: 320px) {
  .route__subtittle-ident {
    margin-left: 165px;
    margin-top: -20px;
  }
}

.route-slider {
  width: 50%;
  margin-left: 50%;
}

@media (max-width: 1280px) {
  .route-slider {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

.hotel__subtittle-ident {
  margin-top: -25px;
  margin-left: 120px;
}

@media (max-width: 767px) {
  .hotel__subtittle-ident {
    margin-left: 100px;
  }
}

.hotel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .hotel__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hotel__img-big {
  margin-right: 100px;
  width: 100%;
}

@media (max-width: 1280px) {
  .hotel__img-big {
    margin: 0;
  }
}

.hotel__body {
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .hotel__body {
    margin-top: 30px;
  }
}

.hotel__text {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .hotel__text {
    font-size: 14px;
  }
}

.hotel__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .hotel__images {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .hotel__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hotel__img {
  margin-top: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hotel__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 767px) {
  .hotel__img {
    margin-top: 20px;
  }
}

.price__subtittle-ident {
  margin-top: -25px;
  margin-left: 100px;
}

.price__cintent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  .price__cintent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price__items {
  width: 50%;
  padding-right: 70px;
}

@media (max-width: 767px) {
  .price__items {
    width: 100%;
    padding: 0 0 50px 0;
  }
}

.price__text {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .price__text {
    margin-bottom: 30px;
  }
}

.price__list * {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .price__list * {
    font-size: 14px;
  }
}

.price__decor {
  position: absolute;
  top: -100px;
  right: -100px;
}

@media (max-width: 767px) {
  .price__decor {
    top: 300px;
  }
}

.price__decor-small-01 {
  position: absolute;
  bottom: -125px;
  left: -50px;
}

@media (max-width: 767px) {
  .price__decor-small-01 {
    bottom: 40px;
  }
}

@media (max-width: 480px) {
  .price__decor-small-01 {
    bottom: 80px;
    left: 40px;
  }
}

.price__decor-small-02 {
  position: absolute;
  left: -100px;
  top: 150px;
}

@media (max-width: 992px) {
  .price__decor-small-02 {
    top: 400px;
    left: -200px;
  }
}

@media (max-width: 767px) {
  .price__decor-small-02 {
    top: 30px;
    left: -100px;
  }
}

@media (max-width: 480px) {
  .price__decor-small-02 {
    top: 25px;
    left: -20px;
  }
}

@media (max-width: 480px) {
  .price__decor-big {
    opacity: 0;
  }
}

.application__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .application__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.application__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 108px;
}

@media (max-width: 1280px) {
  .application__content {
    padding: 30px 50px;
  }
}

@media (max-width: 992px) {
  .application__content {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .application__content {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.application__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .application__section {
    margin-bottom: 30px;
  }
}

.application__text {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .application__text {
    margin-bottom: 20px;
  }
}

.application__img {
  width: 50%;
}

@media (max-width: 767px) {
  .application__img {
    display: none;
  }
}

.application__img img {
  max-width: 100%;
}

.application__ident {
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 1.16;
  margin-top: -25px;
}

.application__ident-data {
  margin-left: 140px;
}

@media (max-width: 992px) {
  .application__ident-data {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .application__ident-data {
    margin-left: 0;
  }
}

.application__ident-price {
  margin-left: 120px;
}

@media (max-width: 992px) {
  .application__ident-price {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .application__ident-price {
    margin-left: 0;
  }
}

.title__price {
  margin-top: -25px;
  margin-left: 125px;
}

@media (max-width: 992px) {
  .title__price {
    margin: -25px auto 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 1.16;
}

.form__input {
  max-width: 383px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e2ab3f;
  padding: 0 31px 0 10px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .form__input {
    margin-bottom: 5px;
  }
}

.form__btn {
  width: 280px;
  height: 50px;
  margin: 0 auto;
  padding: 11px 15px;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e2ab3f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.form__btn:hover {
  background: #e2ab3f;
}
