@font-face {
    font-family: "balqis";
    src: url("../fonts/balqis.woff2") format("woff2"), url("../fonts/balqis.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "RobotoCondensed-Light";
    font-size: 18px;
    line-height: 1.16;
    color: #000;
}
.wrapper {
    // width: 1920px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
}
.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 467px;
    }
    @media (max-width: 480px) {
        max-width: 400px;
    }
    @media (max-width: 400px) {
        max-width: 340px;
    }
    @media (max-width: 350px) {
        max-width: 300px;
    }
}

.page-section {
    // для определения расстояний между одинаковыми секциями
    margin: 200px auto; //auto секция центрируется
    max-width: 1920px; // для большой ширины экрана слайдер и текст не разьедутся
    @media (max-width: 1280px) {
        margin: 100px auto;
    }
    @media (max-width: 767px) {
        margin: 50px auto;
    }
}
//одинаковые заголовки на странице
.title-text {
    display: inline-block;

    &__title {
        font-family: "balqis";
        font-size: 96px;
        line-height: 1.33;
        color: #e2ab3f;
        @media (max-width: 767px) {
            font-size: 80px;
        }
        @media (max-width: 320px) {
            font-size: 64px;
        }
    }

    &__subtittle {
        font-family: "RobotoCondensed-LightItalic";
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 100px;
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
}

//====SECTION==HEADER=========
.header {
    position: relative;
    &__inner {
        position: absolute;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 350px) {
            top: 50px;
        }
    }
    &__img {
        // min-height: 1080px;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__body {
    }

    &__title {
        font-family: "balqis";
        font-size: 250px;
        line-height: 1;
        text-align: center;
        @media (max-width: 1280px) {
            font-size: 200px;
        }
        @media (max-width: 992px) {
            font-size: 150px;
        }
        @media (max-width: 767px) {
            font-size: 100px;
        }
        @media (max-width: 480px) {
            font-size: 64px;
        }
    }

    &__text {
        font-family: "RobotoCondensed-LightItalic";
        font-size: 56px;
        line-height: 1.17;
        text-align: end;
        margin-top: -20px;
        padding-right: 10%;
        @media (max-width: 992px) {
            font-size: 34px;
            margin-top: -15px;
            padding-right: 8%;
        }
        @media (max-width: 767px) {
            font-size: 24px;
            padding-right: 7%;
        }
        @media (max-width: 480px) {
            font-size: 18px;
            margin-top: -10px;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 152px;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (max-width: 350px) {
            margin-bottom: 100px;
        }
    }
}

.menu {
    &__list {
        display: flex;
        @media (max-width: 767px) {
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    &__list > * + * {
        margin-left: 52px;
        @media (max-width: 350px) {
            margin-left: 40px;
        }
    }

    &__list-item {
    }

    &__list-link {
        font-family: "RobotoCondensed-Regular";
        font-size: 24px;
        line-height: 1.16;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}
.header-phone {
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    line-height: 1.16;
    &::before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        width: 30px;
        height: 30px;
        background-image: url("../image/icons/icons-phone.svg");
        background-repeat: no-repeat;
        background-size: initial;
        @media (max-width: 350px) {
            vertical-align: -10px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
    }
    @media (max-width: 350px) {
        font-size: 18px;
    }
}
//====SECTION==ABOUT=========
.about {
    &__inner {
        position: relative; //для позиционирования about__container
        @media (max-width: 1280px) {
            position: unset;
        }
    }

    &__content {
    }

    &__container {
        //повторяем все свойства основного контейнера
        width: 1230px;
        padding: 0 15px;
        margin: 0 auto;
        position: absolute; //позиционирование внутри контейнера.так как у него есть ширина, 0 значение уствнавливает контент внутри контейнера не выходя за края
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: 1280px) {
            width: 970px;
            position: unset;
        }
        @media (max-width: 992px) {
            width: 750px;
        }
        @media (max-width: 767px) {
            width: 467px;
        }
        @media (max-width: 480px) {
            width: 400px;
        }
        @media (max-width: 400px) {
            width: 300px;
        }
    }

    &__body {
        width: 50%; //занимает половину контейнера
        margin-left: auto; //располагается в правой части контейнера
        padding-left: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%; //контент изначально занимает не весь контейнер по высоте,растягиваем его на всю высоту
        @media (max-width: 1280px) {
            width: 100%;
            padding: 20px 0;
        }
    }

    &__text {
        font-family: "RobotoCondensed-Light";
        font-size: 18px;
        line-height: 1.16;
        @media (max-width: 1280px) {
            padding-bottom: 10px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }

    &__list {
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__subtittle-ident {
        //отступы у подзаголовка
        margin-top: -25px;
        margin-left: 180px;
        @media (max-width: 767px) {
            margin-left: 150px;
        }
        @media (max-width: 320px) {
            margin-left: 100px;
            text-align: end;
            margin-top: -20px;
        }
    }
}
//выделенные подзаголовки
.bold {
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    line-height: 1.16;
}
//======ABOUT-SLIDER=======
.about-slider {
    width: 50%; //чтоб слайдер занимал половину ширины страницы
    @media (max-width: 1280px) {
        //слайдер занимает всю ширину страницы
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        img {
            max-width: 100%;
        }
    }
}
//классы слайдера по умолчанию
.slick-btn {
    position: absolute; //reletive уже прописан слайдеру по умолчанию
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: transparent; //делает фон кнопки прозрачным( по умолчанию серый)
}

.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
//=====SECTION====ROUTE=====
.route {
    &__inner {
        position: relative;
        @media (max-width: 1280px) {
            position: unset;
        }
    }
    &__content {
        width: 50%; //занимает половину контейнера
        margin-right: auto; //располагается в левой части контейнера
        @media (max-width: 1280px) {
            width: 100%;
            margin: 0 auto;
        }
    }
    &__container {
        //повторяем все свойства основного контейнера
        width: 1230px;
        padding: 0 15px;
        margin: 0 auto;
        position: absolute; //позиционирование внутри контейнера.так как у него есть ширина, 0 значение уствнавливает контент внутри контейнера не выходя за края
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: 1280px) {
            width: 970px;
            position: unset;
        }
        @media (max-width: 992px) {
            width: 750px;
        }
        @media (max-width: 767px) {
            width: 467px;
        }
        @media (max-width: 480px) {
            width: 400px;
        }
        @media (max-width: 400px) {
            width: 300px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 1095px;
        height: 100%; //контент изначально занимает не весь контейнер по высоте,растягиваем его на всю высоту
    }
    &__text {
        margin-bottom: 20px;
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    &__list {
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__items {
        @media (max-width: 1280px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item {
        margin-bottom: 50px;
        @media (max-width: 1280px) {
            width: 50%;
        }
    }

    &__btn {
        font-family: "RobotoCondensed-Light";
        font-size: 24px;
        line-height: 1.16;
        background: #ffffff;
        border: 1px solid #e2ab3f;
        padding: 10px 53px;
        max-width: 280px;
        transition: all .5s;
        &:hover{
            background: #e2ab3f;
        }
        @media (max-width: 1280px) {
            margin-bottom: 10px;
        }
        @media (max-width: 480px) {
            margin: 0 auto;
        }
        @media (max-width: 320px) {
            padding: 10px 40px;
        }
    }
    &__subtittle-ident {
        //отступы у подзаголовка
        margin-top: -25px;
        margin-left: 245px;
        @media (max-width: 767px) {
            margin-left: 205px;
        }
        @media (max-width: 320px) {
            margin-left: 165px;
            margin-top: -20px;
        }
    }
}
//====ROUT-SLIDER=============
.route-slider {
    width: 50%; //чтоб слайдер занимал половину ширины страницы
    margin-left: 50%;
    @media (max-width: 1280px) {
        //слайдер занимает всю ширину страницы
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }
    &__item {
    }
}
//====SECTION=====HOTEL=====
.hotel {
    &__subtittle-ident {
        //отступы у подзаголовка
        margin-top: -25px;
        margin-left: 120px;
        @media (max-width: 767px) {
            margin-left: 100px;
        }
    }

    &__inner {
        display: flex;
        @media (max-width: 1280px) {
            flex-direction: column;
        }
    }

    &__img-big {
        margin-right: 100px;
        width: 100%;
        @media (max-width: 1280px) {
            margin: 0;
        }
    }

    &__content {
    }

    &__body {
        margin-bottom: 40px;
        @media (max-width: 1280px) {
            margin-top: 30px;
        }
    }

    &__text {
        margin-bottom: 20px;
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1280px) {
            max-width: 600px;
            margin: 0 auto;
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
    }

    &__img {
        margin-top: 50px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
        }
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
}
//=====SECTION====PRICE====
.price {
    &__subtittle-ident {
        //отступы у подзаголовка
        margin-top: -25px;
        margin-left: 100px;
    }
    &__inner {
    }
    &__cintent {
        display: flex;
        position: relative;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__items {
        width: 50%;
        padding-right: 70px;
        @media (max-width: 767px) {
            width: 100%;
            padding: 0 0 50px 0;
        }
    }
    &__text {
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__list * {
        margin-bottom: 20px;
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__decor {
        position: absolute;
        top: -100px;
        right: -100px;
        @media (max-width: 767px) {
            top: 300px;
        }
        @media (max-width: 480px) {
        }
    }
    &__decor-small-01 {
        position: absolute;
        bottom: -125px;
        left: -50px;
        @media (max-width: 767px) {
            bottom: 40px;
        }
        @media (max-width: 480px) {
            bottom: 80px;
            left: 40px;
        }
    }
    &__decor-small-02 {
        position: absolute;
        left: -100px;
        top: 150px;
        @media (max-width: 992px) {
            top: 400px;
            left: -200px;
        }
        @media (max-width: 767px) {
            top: 30px;
            left: -100px;
        }
        @media (max-width: 480px) {
            top: 25px;
            left: -20px;
        }
    }
    &__decor-big {
        @media (max-width: 480px) {
            opacity: 0;
        }
    }
}
//=====SECTION====APPLICATION=====
.application {
    &__inner {
        display: flex;
        @media (max-width: 767px){
           justify-content: center;
          
        }
    }
    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       padding:50px 108px;
       @media (max-width: 1280px){
           padding: 30px 50px;  
       }
       @media (max-width:992px){
           padding:0 10px;
       }
       @media (max-width: 767px){
           padding: 0;
           align-items: center;
       }
    }
    &__section{
        display: flex;
        flex-direction: column;
        @media (max-width: 767px){
          margin-bottom: 30px;  
        }
    }
    &__text {
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 992px){
            margin-bottom: 20px;
        }
    }
    &__img {
        width: 50%;
        @media (max-width: 767px){
            display: none;
        }
        img {
            max-width: 100%;
        }
    }
    &__ident {
        font-family: "RobotoCondensed-LightItalic";
        font-size: 24px;
        line-height: 1.16;
        margin-top: -25px;
    }

    &__ident-data {
        margin-left: 140px;
        @media (max-width: 992px){
            margin-left: 20px;
        }
        @media (max-width: 320px){
            margin-left: 0;
        }
    }
    &__ident-price {
        margin-left: 120px;
        @media (max-width: 992px){
            margin-left: 20px;
        }
        @media (max-width: 320px){
            margin-left: 0;
        }
    }
}
.title__price{
    margin-top: -25px;
    margin-left: 125px;
    @media (max-width: 992px){
        margin: -25px auto 0;   
    }
}
.form {
    display: flex;
    flex-direction: column;
    font-family: "RobotoCondensed-Light";
    font-size: 18px;
    line-height: 1.16;
    &__input {
        max-width: 383px;
        height: 50px;
        background: #ffffff;
        border: 1px solid #e2ab3f;
        padding: 0 31px 0 10px;
        margin-bottom: 20px;
        @media (max-width: 992px){
            margin-bottom: 5px;
        }
        
    }

    &__btn {
        width: 280px;
        height: 50px;
        margin: 0 auto;
        padding: 11px 15px;
        font-size: 24px;
        line-height: 1.16;
        text-align: center;
        background: #ffffff;
        border: 1px solid #e2ab3f;
        transition: all .5s;
        &:hover{
            background: #e2ab3f;
        }
    }
}
